version: '3.1'

services:
  db:
    container_name: db
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: john
      POSTGRES_PASSWORD: example
      POSTGRES_DB: endgame
      PGDATA: /var/lib/postgresql/data/sam/
    volumes:
      - 'dbvolume:/var/lib/postgresql/data'
    networks:
      - 'net1'
    
  adminer:
    image: adminer
    restart: always
    ports:
      - 9090:8080
    networks:
      - 'net1'

  backend:
    container_name: backend
    image: endgamebackend:v1
    build: ./endgamebackend/
    environment:
      DB_USER: john
      DB_PASS: example
      DB: endgame
      DB_HOST: db
    depends_on:
      - 'db'
    networks:
      - 'net1'
    volumes:
      - 'dbvolume:/app'

  frontend:
    container_name: frontend
    image: endgamefrontend:v1
    build: ./endgamefrontend/
    ports:
      - 80:5000
    depends_on:
      - 'db'
    networks:
      - 'net1'
    volumes:
      - 'dbvolume:/app'

volumes:
  dbvolume:
    driver: local
    
networks:
  net1:
    driver: bridge
